.location {
  float: left;
  margin-left: 25px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 43px;
  margin-bottom: 42px;
}

.point-count {
  margin-top: 43px;
  margin-bottom: 42px;
  float: left;
  padding-right: 10px;
  color: $light-text;
  font-weight: bold;
  font-size: 18px;
}

.user {
  margin-top: 22px;
  margin-bottom: 21px;
  float: left;
  padding-right: 10px;
}

.caret {
  margin-top: 47px;
  margin-bottom: 44px;
  float: left;
  padding-right: 10px;
  opacity: .6;
}

.arrow {
  margin-top: 27px;
  margin-bottom: 21px;
  float: left;
  opacity: 0.3;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 2px solid $light-text;
  border-right: 2px solid $light-text;
}

.notification {
  margin-top: 22px;
  margin-bottom: 21px;
  float: left;
  padding-right: 10px;
}
