// Colors, described
$red                : tomato;
$blue               : steelblue;
$green              : mediumspringgreen;
$light-grey         : #edeff0;
$grey               : grey;
$white              : white;
$black              : black;

// Colors at work
$dark-text          : $black;
$light-text         : $grey;
$page-body          : $light-grey;
$tile-body          : $white;
$class1             : $green;
$class2             : $red;
$class3             : $blue;
$shadow             : $grey;
